.pokemon-card {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  flex-basis: (100%/3);
}

.pokemon-card img {
  width: 100%;
  background-color: lightgray;
}

#card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.card-wrapper {
  padding: 10px;

  /* flex-wrap: wrap; */
  flex-basis: calc(100% / 3);

  /* flex-basis: (100%/3); */
}
